.report-container {
  border: 1px solid lightgrey;
  /* width: 40% !important; */
}
.mortgage-number {
  font-weight: 800;
  font-size: large;
  color: #00adf0;
}
.get-started-label {
  font-weight: 700;
}
.short-label {
  font-weight: 500;
}
.progress-bar-label {
  color: grey;
}
.marginbottom20 {
  margin-bottom: 20px;
}
.pointer {
  cursor: pointer;
}
.loading-container {
  border: none;
  /* width: 40% !important; */
  text-align: -moz-center;
  text-align: -webkit-center;
}
.center {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin-top: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 760px),
  (min-width: 768px) and (max-width: 1024px) {
  .report-container {
    width: 100% !important;
  }
}
